<div class="card mat-card"> <!--Cuarto recuadro-->
    <div class= "card-titles">
        <h2>Formación profesional</h2>
        <ul id="form_profesional"><h5>Capacitaciones</h5>
            <h6>Curso de Facilitadores/as Agroecológicos</h6>
                <li>Capacitación virtual a cargo del Ministerio de Desarrollo Agrario de laProvincia de Buenos Aires | 2021</li>
           
            <h6>Argentina Programa</h6>
                <li> Ministerio de Desarrollo Productivo de la Nación y CámaraEmpresarial de Software y Servicios Informáticos (CESSI) | 2021 - presente</li>
           
            <h6>Producción de plantas nativas</h6>
                <li>Curso virtual destinado a viveristas del noreste bonaerense - INTA SanPedro | 2021</li>
         

            <h6>Teledetección Óptica</h6>
                <li>Unidad de Formación Masiva (UFM) de la Comisión Nacional de ActividadesEspaciales (CONAE) | 2020</li>
            
            <h6>Apicultura</h6>
                <li>Facultad de Ciencias Agrarias y Forestales (FCAyF) - Universidad Nacionalde La Plata (UNLP) | 2017</li>
            
        </ul>
    </div>
</div>
