<div class="card mat-card" id="first-card"> <!--Primer recuadro-->
    <div id="profile-background"><img src= "assets/portada.jpg"> </div>
    <div id="info" style="padding: 20px">
        <div id="info-img">
            <img class= "profile-image" style="border-radius: 70%; 
                       width: 170px;
                       height: 170px;"
                src= "assets/foto_CV.jpg">  
            <div class= "btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div> <!--boton editar LAPICITO-->
        </div>
        <div id= "info-data"> <!--Información abajo de la foto de perfil-->
            <div>
                <h1>{{miPorfolio.name}}</h1>
                <div id= "info-company">{{miPorfolio.position}}</div>
                <div id= "info-contact">
                    <span>{{miPorfolio.ubication}}</span>
                    <span><a href="#">Información de contacto</a></span> <!-- con # cambia de forma el puntero del mouse "señala"-->
                </div>
            </div>
             <!-- Lista desordenada--> <!--o poner el logo entero-->
            <ul id= "info-details">
                <li><a href="#">   
                    <img src="assets/logo_UNLP.png">
                    <h2>Universidad Nacional de La Plata</h2>
                </a></li>
                <li><a href="#">
                    <img src="assets/logo_FCAyF.jpg">
                    <h2>Facultad de Ciencias Agrarias y Forestales</h2>
                </a></li>
            </ul>
        </div>
        <div id="info-actions">
            <button type="button" class="btn btn-primary">Tengo interés en</button>
            <button type="button" class="btn btn-light">Añadir Sección</button>
            <button type="button" class="btn btn-light">Más</button>
        </div>
    </div>
    
</div>

