<div class="card mat-card"> <!--Tercer recuadro-->
    <div class= "card-titles">
        <h2>Formación académica</h2>
        <ul id="form_academica">
            <h4>Ingeniería Forestal</h4>
                <li>Facultad de Ciencias Agrarias y Forestales (FCAyF) - Universidad Nacionalde La Plata (UNLP) | 2014 - 2021 </li>
                <li>Promedio con y sin aplazos: 8,21</li>
            <h4>Analista Programador Universitario</h4>
                <li>Facultad de Informática - Universidad Nacional de La Plata (UNLP) | 2021</li>
                <li>Actualmente cursando primer año</li>
            <h4>Agroecología</h4>
                <li>Montpellier SupAgro. Montpellier, Francia | 2019</li>
                <li>Principios de la Agroecología y Transición agroecológica - ProgramaArFAgri</li>
        </ul>
    </div>
</div>
