<div class="card mat-card" id="first-card"> <!--Primer recuadro-->
        <div id="profile-background"><img src= "/src/assets/portada.jpg"> </div>
        <div id="info" style="padding: 20px">
            <div id="info-img">
                <img class= "profile-image" style="border-radius: 70%; 
                           width: 170px;
                           height: 170px;"
                    src= "/src/assets/foto_CV.jpg">  
                <div class= "btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div> <!--boton editar LAPICITO-->
            </div>
            <div id= "info-data"> <!--Información abajo de la foto de perfil-->
                <div>
                    <h1>Inés Martegani</h1>
                    <div id= "info-company">Ingeniera Forestal</div>
                    <div id= "info-contact">
                        <span>Buenos Aires (Argentina)</span>
                        <span><a href="#">Información de contacto</a></span> <!-- con # cambia de forma el puntero del mouse "señala"-->
                    </div>
                </div>
                 <!-- Lista desordenada--> <!--o poner el logo entero-->
                <ul id= "info-details">
                    <li><a href="#">   
                        <img src="/src/assets/logo_UNLP.png">
                        <h2>Universidad Nacional de La Plata</h2>
                    </a></li>
                    <li><a href="#">
                        <img src="/src/assets/logo_FCAyF.jpg">
                        <h2>Facultad de Ciencias Agrarias y Forestales</h2>
                    </a></li>
                </ul>
            </div>
            <div id="info-actions">
                <button type="button" class="btn btn-primary">Tengo interés en</button>
                <button type="button" class="btn btn-light">Añadir Sección</button>
                <button type="button" class="btn btn-light">Más</button>
            </div>
        </div>
        
</div>

<div class="card mat-card"> <!--Segundo recuadro-->
        <div class= "card-titles">
            <h2>Acerca de</h2>
            <div class="btn-edit">
                <a href="#" class="btn-right">
                    <i class="fa fa-pen"></i>
                </a>
            </div>
        </div>
        <div>
            <p id="text-acercade">26 años</p>
        </div>
</div>

<div class="card mat-card"> <!--Tercer recuadro-->
        <div class= "card-titles">
            <h2>Formación académica</h2>
            <ul id="form_academica">
                <h4>Ingeniería Forestal</h4>
                    <li>Facultad de Ciencias Agrarias y Forestales (FCAyF) - Universidad Nacionalde La Plata (UNLP) | 2014 - 2021 </li>
                    <li>Promedio con y sin aplazos: 8,21</li>
                <h4>Analista Programador Universitario</h4>
                    <li>Facultad de Informática - Universidad Nacional de La Plata (UNLP) | 2021</li>
                    <li>Actualmente cursando primer año</li>
                <h4>Agroecología</h4>
                    <li>Montpellier SupAgro. Montpellier, Francia | 2019</li>
                    <li>Principios de la Agroecología y Transición agroecológica - ProgramaArFAgri</li>
            </ul>
        </div>
</div>

<div class="card mat-card"> <!--Cuarto recuadro-->
        <div class= "card-titles">
            <h2>Formación profesional</h2>
            <ul id="form_profesional"><h5>Capacitaciones</h5>
                <h6>Curso de Facilitadores/as Agroecológicos</h6>
                    <li>Capacitación virtual a cargo del Ministerio de Desarrollo Agrario de laProvincia de Buenos Aires | 2021</li>
               
                <h6>Argentina Programa</h6>
                    <li> Ministerio de Desarrollo Productivo de la Nación y CámaraEmpresarial de Software y Servicios Informáticos (CESSI) | 2021 - presente</li>
               
                <h6>Producción de plantas nativas</h6>
                    <li>Curso virtual destinado a viveristas del noreste bonaerense - INTA SanPedro | 2021</li>
             

                <h6>Teledetección Óptica</h6>
                    <li>Unidad de Formación Masiva (UFM) de la Comisión Nacional de ActividadesEspaciales (CONAE) | 2020</li>
                
                <h6>Apicultura</h6>
                    <li>Facultad de Ciencias Agrarias y Forestales (FCAyF) - Universidad Nacionalde La Plata (UNLP) | 2017</li>
                
            </ul>
        </div>
</div>

<div class="card mat-card"> <!--los puse con dos DIV pero podria ponerlos en lista como UL-->
        <div class= "card-titles">
            <h2>Idiomas</h2>
            <div>Inglés avanzado</div>
            <div>Francés avanzado (B2)Alianza Francesa, BuenosAires | 2018</div>
        </div>
</div>